<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page_title}}</title>
    <style>
        body{
            background-color: skyblue;
        }
    </style>
</head>
<body>
    <a href="/product/create">Create a new Product</a>
    {% for product in products %}
        <a href="/product/detail/{{product.id}}">
            <table>
                <tr>
                    <td><h3>{{product.name}}|</h3></td>
                    <td><h3>{{product.description}}|</h3></td>
                    <td><h3>{{product.category}}|</h3></td>
                    <td><h3>{{product.created_at}}|</h3></td>
                </tr>
            </table>
        </a>
    {% endfor %}
</body>
</html>